<div class="rounded-lg max-w-lg p-6 bg-white">
  <h4 class="mb-2 font-bold text-xl tracking-tight text-gray-900">
    <%= @post.title %>
  </h4>
  <p class="font-normal text-gray-700">
    <%= simple_format @post.body %>
  </p>
</div>